@use 'src/sass/index.scss' as *;

.main {
	padding: calc($padding-4 * 2);
	display: grid;

	gap: calc($padding-4 * 2);
	section {
		display: flex;
		flex-direction: column;
		gap: calc($gap-4 * 2);
	}
}
.sectionTitle {
	@include themify($themes) {
		color: themed('text');
	}
	font-size: $fs-lg;
	font-weight: $fw-bold;
}

.spinner,
.noPosts,
.link {
	margin: 0 auto;
}

.link {
	@include link-reset;
	@include btn-primary;
	@include themify($themes) {
		background-color: themed(btnBg);
		color: themed('btnText');
	}
}
