@use '/src/sass/index.scss' as *;

.navContainer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: $fs-md;
	padding: $padding-5;
	p {
		font-weight: $fw-semibold;
		margin: $margin-2;
	}

	ul {
		@include list-reset;
		@include list-vertical(calc($gap-4 * 2));
		justify-content: center;
		align-items: center;
		@include breakpoint-md {
			flex-direction: row;
		}
	}

	a {
		@include nav-link;
		margin: $margin-2;
	}
	button {
		@include btn-reset;
		@include nav-link;
		margin: $margin-2;
	}
	.menuBtn {
		@include btn-reset;
		margin-left: auto;
		display: block;

		@include breakpoint-md {
			display: none;
		}
	}
	.mobileMenuTitle {
		display: block;
		@include breakpoint-md {
			display: none;
		}
		margin-top: auto;
	}
	.menuClose {
		@include btn-reset;
		@include breakpoint-md {
			display: none;
		}
		margin-top: auto;
		margin-bottom: 2rem;
	}

	.navMenu {
		@include themify($themes) {
			color: themed('text');
			background-color: themed('bg');
		}

		display: flex;
		align-items: center;
		justify-content: center;
		gap: calc(2 * $gap-4);
	}

	.mobileMenu {
		position: absolute;
		flex-direction: column;

		width: 100%;
		height: 100vh;
		filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
			drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
		z-index: 10;
		left: 0;
		top: 0;
		@include breakpoint-md {
			position: relative;
			height: auto;
			flex-direction: row;
			filter: none;
		}
	}

	.desktopMenu {
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		width: 0;
		height: 0px;
		@include breakpoint-md {
			display: flex;
			opacity: 1;
			visibility: visible;
			width: auto;
			height: auto;
			flex-direction: row;
		}
	}
}

.heroContainer {
	@include themify($themes) {
		border-top: 1px solid themed('heroBorder');
		border-bottom: 1px solid themed('heroBorder');
	}

	container-type: inline-size;

	h1 {
		text-align: center;
		font-size: $fs-2xl;
		text-transform: uppercase;
		font-weight: $fw-xbold;
		line-height: 100%;
	}
	@container (min-width: 768px) {
		h1 {
			font-size: $fs-5xl;
		}
	}
	@container (min-width: 1200px) {
		h1 {
			font-size: $fs-8xl;
		}
	}
}
