@use '/src/sass/index.scss' as *;

.modalContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(8px);
	z-index: 3;
}
.modal {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: grid;
	gap: calc($gap-4 * 2);
	padding: calc($padding-4 * 1);
	border-radius: 16px;
	@include themify($themes) {
		background-color: themed(inputBg);
		border: 1px solid themed(inputBorder);
	}

	.modalHeader {
		font-size: $fs-md;
		font-weight: $fw-semibold;
	}
	.modalBody {
		font-weight: $fw-semibold;
	}

	.modalFooter {
		display: flex;
		justify-content: center;
		gap: $gap-4;
		button {
			@include btn-reset;
			@include btn-primary;
		}
		.btn {
			@include themify($themes) {
				background-color: themed(btnBg);
				color: themed(btnText);
			}
		}
		.btnDelete {
			@include themify($themes) {
				background-color: themed(danger);
				color: themed(btnText);
			}
		}
	}
}

.closed {
	display: none;
}
