@use 'src/sass/index' as *;
.app {
	@include themify($themes) {
		color: themed('text');
		background-color: themed('bg');
	}
	min-height: 100vh;
	@include breakpoint-xl {
		padding-inline: calc(4 * $padding-4);
	}
}
